* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  background-color: #f1f3f5;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

h1 {
  font-size: 5rem;
  color: oklch(68.5% 0.169 237.323);
  letter-spacing: -1px;
  padding-bottom: 1.5rem;
}

.inputs {
  padding: 0.5rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  outline: none;
  width: 400px;
}

.search {
  font-size: 1.6rem;
  padding: 1rem 2rem;
}

.inputNote {
  font-size: 1.8rem;
  padding: 1rem 2rem;
}

.btn {
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 8px;
}

.add {
  background-color: #4dabf7;
  color: white;
  transition: all 0.2s ease;
  border: none;
}

.add:hover {
  background-color: #339af0;
}

.showNotes {
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2rem;
}

.note {
  background-color: #ffff;
  width: 300px;
  padding: 1rem 1.5rem;
  padding-bottom: 2rem;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
  transition: all 0.2s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.note:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.noteID {
  display: none;
  font-size: 1px;
}

.noteText {
  font-size: 1.6rem;
  color: oklch(20.8% 0.042 265.755);
}

.searchBox {
  position: relative;
}

.searchFound {
  position: absolute;
  right: 20px;
  top: 13px;
  font-size: 1.4rem;
}

.noteDate {
  font-size: 1.2rem;
  color: oklch(71.5% 0.143 215.221);
}

.noteDelete {
  position: absolute;
  right: 20px;
  top: 10px;
}

.noteEdit {
  position: absolute;
  left: 15px;
  top: 10px;
}

.notePin {
  border: none;
  background-color: inherit;
  padding: 0.5rem;
  position: absolute;
  right: 15px;
  font-size: 1.5rem;
}

.note.pinned {
  border-left: 4px solid gold;
  background-color: #fffbe6;
}

.themeToggle {
  position: absolute;
  right: 6rem;
  top: 2rem;
  border: none;
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  padding: 0.8rem 1.6rem;
  border-radius: 30px;
  font-weight: 600;
}

.dark {
  background-color: hsla(0, 0%, 0%, 0.832);
  color: white;
}

@media(max-width: 1000px) {
  .container {
    margin-top: 3rem;
  }

  h1 {
    font-size: 4rem;
  }

  .search {
    width: 300px;
  }

  .inputNote {
    width: 300px;
  }

  .showNotes {
    grid-template-columns: 1fr 1fr;
    max-height: 310px;
    overflow-y: scroll;
    margin-bottom: 2rem;
  }
}

@media(max-width: 653px) {
  .container {
    margin-top: 3rem;
  }

  h1 {
    font-size: 4rem;
  }

  .search {
    width: 300px;
  }

  .inputNote {
    width: 300px;
  }

  .showNotes {
    grid-template-columns: 1fr;
    max-height: 310px;
    overflow-y: scroll;
    margin-bottom: 2rem;
  }

  .themeToggle {
    right: 2rem;
  }
}

@media(max-width: 380px) {
  .container {
    margin-top: 3rem;
  }

  h1 {
    font-size: 4rem;
  }

  .search {
    width: 300px;
  }

  .inputNote {
    width: 300px;
  }

  .showNotes {
    grid-template-columns: 1fr;
    max-height: 310px;
    overflow-y: scroll;
    margin-bottom: 2rem;
  }

  .themeToggle {
    right: 2rem;
  }
}

.notePin:hover,
.noteDelete:hover,
.noteEdit:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.dark .inputs {
  background-color: #2b2b2b;
  color: white;
  border: 1px solid #444;
}

.emptyNote {
  text-align: center;
  font-size: 1.5rem;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
}